version: 2
updates:

  # Maintain dependencies for npm
  - package-ecosystem: "npm"
    versioning-strategy: "increase"
    open-pull-requests-limit: 10
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "fix:"
      prefix-development: "chore:"
    groups:
      development-dependencies:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
        exclude-patterns:
          - '@types/*'

  # Keep GitHub actions up to date
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore:"
