name: CI

permissions:
  id-token: write
  contents: read

on:
  push:
    branches: [ main ]
    tags: [ '**' ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    uses: rowanmanning/actions/.github/workflows/node-package-single.yml@v4
    with:
      nodeVersions: '[24, 22, 20]'
    secrets:
      githubToken: ${{ secrets.RELEASE_TOKEN }}
      npmToken: ${{ secrets.NPM_AUTH_TOKEN }}
