name: Publish to npm
on:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '18'
        registry-url: https://registry.npmjs.org
    - run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      id: get_version
    - run: npm version --no-git-tag-version ${{ steps.get_version.outputs.VERSION }}
    - run: npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
